{% extends 'index.html' %}
{% block contenido %}

<div class="inner" >
            <div class="main" >
                <center>
                <section id="content">
                    <strong class="title" >
                                       <CENTER <H1> <strong>Seleccione la categoria</strong></H1> </strong><br>
        <div class='row'>
            <div class="wrapper">
            {% if user.is_authenticated %}
                <p><a href="/categorias/nueva" class="button-2" >Agregar Nuevo Categoria</a></p>
            {% endif %}
		     {% for dato in lista %}
                   <article class="col-1">
                         <div class="bg">
                          <a href="/productos/{{dato.id}}/">
                                      <p>{{ dato.CategoriaNombre }}</p>
                                      <img src="/media/{{ dato.Portadacategoria }}" width="300" height="200"></a><p>
                                      {% if user.is_authenticated %}
                                        <br><a href="{% url 'apps.productos.views.Modificar_categoria' dato.id %}" class="button-2"> modificar </a>
                                     {% endif %}
                                     </p>
                          </div>
                    </article>

             {% endfor %}</div>

	    </div>

          </section>
</center>      <div class="block"></div>
            </div>
        </div>
    </div>


    </div>

</div>

{% endblock %}


















