{% extends 'index.html' %}
{% block contenido %}
<section id="content">
    <div class="top">
        <div class="middle">
			<div class="container">
				<div class="wrapper">
					<div class="grid3 first">
				<form action="" method="post" enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
					{% for field in formulario %}
						{{field.errors}}

						<div class = "control-group">
							{{ field.label_tag }}
							<div class="controls">
								{{ field}}

							</div>

						</div>
					{% endfor %}
                    {% for field in formulariostock %}
						                {{field.errors}}

						            <div class = "control-group">
							            {{ field.label_tag }}
							            <div class="controls">
								            {{ field}}

							            </div>

						            </div>
					                {% endfor %}
					<button type="submit" class="button-2"> Guardar </button>

				</form>
</div>

				</div>
			</div>
		</div>
        <div class="block"></div>
        </div>

</section>

{% endblock %}