{% extends "index.html" %}
{% block contenido %}
    <div id="contenedor_menu">
        <ul id="menu">
            <li>
                <a href="">Inicio</a>
            </li>
            <li>
                <a href="/productos/">Productos</a>
            </li>
            <li>
                <a href="/usuario/registro/">Registro</a>
            </li>
            <li>
                <a href="/usuario/ingresar/">Ingresar</a>
            </li>
        </ul>
        <ul id="submenu">
            <li>
               <a href="">Compra</a>
            </li>
            <li>
                <a href="">Vende</a>
             </li>
            <li>
                <a href="">Personal</a>
             </li>
        </ul>
    </div>
{% endblock %}