{% block contenido %}
    <style >
     h2{color: white; display: ruby-base-group; background: orange; padding: 10px; text-align: center }
     table { padding: 5px; color: firebrick}
     th{ color: #ffffff; background: darkorange}
     table{color:#000000; background: yellow}
     {background: black}
    </style>
    <div>
        <h2>LISTADO DE VENTAS</h2>
    </div>
    <table border="1px" width="80%" align="center" >
        <th>
            ID
        </th>
        <th>
            NOMBRE
        </th>
        <th>
            CANTIDAD
        </th>
        <th>
            PRECIO TOTAL
        </th>
        <th>
            FECHA
        </th>
        {% csrf_token %}
        {% for i in ventas %}
         {% for j in usuarios %}
            {% if i.cliente_id == j.user_id %}

            <tr>
                <td>
                    {{ i.id }}
                </td>
                <td>
                    {{ j.nombre}}
                </td>

                <td>
                    {{ i.cantidad }}
                </td>
                <td>
                    {{ i.precio_total }}
                </td>

                <td>
                    {{ i.fecha}}
                </td>

            </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}


    </table></table>
{% endblock %}